# Virtual environments
.venv/
venv/
env/

# Logs
logs/
*.log

# Build / packaging artifacts
*.egg-info/
build/
dist/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# uv
uv.lock